#block-colortext-colortext-color-block .block-content{
    padding:0;
}
.form-item-colortext-colors{
    margin: 0 !important;
    padding: 5px 3px 5px 10px;
}
#colortext-form{
    margin:0;
}
select#edit-colortext-colors{
    margin:0;
}
.form-item.form-item-colortext-colors label {
    display: inline;
    font-size: 85%;
}

.colortext-color-pick {
    background-image: url("../beeline.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    text-indent: 24px;
}

.panel-pane.pane-block.pane-colortext-colortext-color-block.pane-colortext {
    clear: both;
    float: right;
    margin: 0;
    opacity: 0.75;
    padding: 0;
}